<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>新建LORA</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>

<body>
  <main class="container">
    <h1>新建LORA</h1>
    <form method=post enctype=multipart/form-data action="/upload">
      <input type=file name=file[] multiple required="required"><br>
      <label for="fname">lora 模型名称:</label>
      <input type=text name=lora_name required="required"><br>
      <label for="fname">network_dim（network dim | 决定了lora的规模大小， 常用 4~128，不是越大越好）:</label>
      <input type=text name=network_dim placeholder="128"><br>
      <label for="fname">network_alpha（network alpha | 常用与 network_dim 相同的值或者采用较小的值，如 network_dim的一半 防止下溢。默认值为 1，使用较小的 alpha 需要提升学习率。）:</label>
      <input type=text name=network_alpha placeholder="64"><br>
      <label for="fname">resolution（image resolution w,h. 用多大的分辨率来识别上传图，宽,高。支持非正方形，但必须是 64 倍数。如：512,512）:</label>
      <input type=text name=resolution placeholder="512,512"><br>
      <label for="fname">batch_size:(批次尺寸，初始为1，batch_size越大，训练速度越快，显存占用越多)</label>
      <input type=text name=batch_size placeholder="2"><br>
      <label for="fname">max_train_epoches（最大训练步数）:</label>
      <input type=text name=max_train_epoches placeholder="20"><br>
      <label for="fname">save_every_n_epochs（每 N 个 epoch 保存一次）:</label>
      <input type=text name=save_every_n_epochs placeholder="2"><br>
      <label for="fname">lr（学习率，使用科学计数法）:</label>
      <input type=text name=lr placeholder="5e-5"><br>
      <label for="fname">unet_lr:</label>
      <input type=text name=unet_lr placeholder="5e-5"><br>
      <label for="fname">text_encoder_lr:</label>
      <input type=text name=text_encoder_lr placeholder="1e-5"><br>
      <label for="fname">训练主体（训练面部使用head而非face，训练服装可以使用apparel,clothes,dress,shirt,etc.）:</label>
      <input type=text name=theme required="required"><br>
      <input type=submit value=创建lora训练任务>
    </form>

    <ul>
      <table>
        <tbody>
          <thead>
            <tr>
              <th scope="col">lora名称</th>
              <th scope="col">图片数量</th>
              <th scope="col">训练情况</th>
              <th scope="col">lora关键词</th>
              <th scope="col">任务新建时间</th>
            </tr>
          </thead>
          {% for task in tasks %}
          <thead>
            <tr>
              <td>{{task.lora_name}}</td>
              <td>{{task.img_num}}</td>
              {% if task.trained == 0 %}
              <td>待训练</td>
              {% endif %}
              {% if task.trained == 1 %}
              <td>已训练</td>
              {% endif %}
              {% if task.trained == 2 %}
              <td>训练异常，待处理</td>
              {% endif %}
              {% if task.trained %}
              <td>&lt;lora:{{task.lora_name}}:1&gt;</td>
              {% else %}
              <td></td>
              {% endif %}
              <td>{{task.created_at}}</td>

              <td>
                <form action="/delete" method="post">
                  <input type="hidden" name="id" value="{{ task.id }}">
                  <button type="submit">删除</button>
                </form>
              </td>
            </tr>
          </thead>
          {% endfor %}
        </tbody>
      </table>
    </ul>

    <!-- <div>
      <h1>图像生成</h1>
        <form method="post" enctype="multipart/form-data" action="/upload_sd_img">
          <div class="image-upload">
              <label for="image-input">
                  <i class="fa fa-cloud-upload"></i>
                  <span>点击上传图片</span>
              </label>
              <input type="file" id="image-input" name="image" accept="image/*" required>
          </div>
          <button type="submit">上传</button>
      </form>
      <div class="image-container">
        <img src="image1.jpg" alt="Image 1">
        <div class="image-overlay">
            <div class="image-title">Image 1</div>
            <div class="image-description">This is the first image.</div>
        </div>
      </div>
    </div> -->
    <iframe src="http://192.168.200.143:8080/" width="100%" height="500" frameborder="0" allowfullscreen></iframe>
  </main>
</body>

</html>